#buttonNav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#submitButt{
    background-color:transparent;
    width: 79px;
    height: 79px;
    border-radius:50px;
    border-color:transparent;
    outline:none;
    margin: 15px;
}